.cke_dialog_contents .candimage-picker {
	overflow: auto;
	position: relative;
	max-height: 400px;
	padding: 5px;
}
.candimage-picker-item {
	float: left;
    position: relative;
    margin: 5px;
    width: 100px;
    height: 100px;
}
.candimage-picker-item-img-container {
	display: table-cell;
	width: 100px;
	height: 100px;
	text-align: center;
	vertical-align: middle;
}
.candimage-picker-item-img-container div {
	position: relative;
	display: inline-block;
}
.candimage-picker-item-image {
	max-width: 100px;
	max-height: 100px;
	cursor: pointer;
	border: 2px solid #fff;
}
.candimage-picker-item-delete {
	cursor: pointer;
	position: absolute;
	top: -5px;
	right: -5px;
	width: 10px;
	height: 10px;
	border: 2px solid #444;
	background-color: #de3a3c;
    -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.candimage-picker-item-selected .candimage-picker-item-image {
	border: 2px solid #666;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}
.candimage-picker-loading {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: center center;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}